
#about-list{
    list-style: none;
    padding-left: 10px;
}
#about-list li{
    line-height: 30px;
}
#about-list i{
    color: #e93638;
    margin-right: 6px;
}
.about-title{
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
}
