.carousel {
    height: 100vh;

    &-inner {

        .carousel-item {

            .carousel-caption {
                text-align: left;

                &_text {
                    margin: 15px 0 60px;
                    font-size: 18px;
                    line-height: 24px;
                }
            }
        }
    }

    &-control-next, &-control-prev{

        .fas{
            font-size: 42px;
        }
    }
}