 .main-btn{
     width: 150px;
     height: 80px;
     padding: 15px 30px;
     margin-top: 30px;
     background-color: transparent ;
     color: white;
     text-transform: uppercase;
     border: 2px solid white;
     border-radius: 3px;
     transition: .5s ;
     text-decoration: none;

     &:hover{
         color: white;
         text-decoration: none;
         background-color: #e93638;
         border-color: #e93638;
     }
 }